{% extends 'base.html' %}
{% block title %}Редактирование узла{% endblock %}

{% block content %}

        {{ connected_nodes }}

        <form method="post">
            <div>Название:
                <input type="text" value={{ node.name }}>
            </div>
            <div>Связи:
                {% for node in nodes %}
                    <div class="container">
                        {{ node.name }}<input type="checkbox" >
                    </div>
                {% endfor %}
            </div>



            <div><input type="submit" class="btn-success" value="Сохранить"></div>
        </form>

{% endblock %}
