{% extends 'base.html' %}
{% block title %}Редактирование узла{% endblock %}

{% block content %}

        {{ connected_nodes }}


        <p>--------------</p>
        <form method="post">


            <span>
                {{ node_form.as_p }}
                    {% if node_form.errors %}
                        {% for error in node_form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
            </span>
            <div>Связи:
                {% for node in nodes %}
                    {% if node in connected_nodes %}
                        {% for connected_node, direct in connected_nodes.items %}
                            {% if node == connected_node and direct %}
                            <div>
                                {{ node.name }}<input type="checkbox" checked>
                            </div>
                            {% elif node == connected_node %}
                                <div>
                                {{ node.name }}<input type="checkbox" checked disabled>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div>
                            {{ node.name }}<input type="checkbox" >
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div><input type="submit" class="glyphicon-link" value="Сохранить"></div>
        </form>

{% endblock %}
