{% extends 'base.html' %}
{% block title %}Редактирование узла{% endblock %}

{% block content %}

        {{ connected_nodes }}

        {{ direct_connected_nodes }}
        <p>--------------</p>
        <form method="post">

            <span>

                {{ node_name_form.as_p }}
                    {% if node_name_form.errors %}
                        {% for error in node_name_form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
            </span>

            <div>Связи:
                {% for other_node in other_nodes %}
                    <div>
                        {{ other_node.name }}
                        <input type="checkbox"
                               name="{{ other_node.id }}"
                            {% if other_node in direct_connected_nodes and other_node in connected_nodes%}
                                 checked
                            {% elif other_node in connected_nodes %}
                                name="{{ other_node.id }}" checked disabled
                            {% endif %}>
                    </div>
                {% endfor %}
            </div>

            <div><input type="submit" class="glyphicon-link" value="Сохранить"></div>
        </form>

{% endblock %}
