{% extends 'base.html' %}

{% block content %}
    <table class="table">

        <tbody>
            {% for node in nodes %}
                <tr>
                    <td>{{ node.name }}</td>
                    <td>
                        <a href="{% url 'edit-node' node.id %}">Edit</a>
                    </td>
                    <td>
                        <form method="post" action={% url 'delete-node' node.id %}>
                            <input type="submit" class="btn-link" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <span>
        <a href="{% url 'create-node' %}" class="pull-left">Создать узел</a>
        <a href="{% url 'build-weight-table' %}" class="pull-right">Посторить таблицу</a>
    </span>


{% endblock %}

