{% extends 'base.html' %}

{% load weights_extras %}

{% block content %}

<table class="table">
    <tbody>
        <tr>
            <th></th>

            {% for node in nodes %}
                <th> {{ node.name }} </th>
            {% endfor %}
        </tr>
        <tr>
            {% for node in nodes %}
                <th> {{ node.name }}</th>

                {% with relations|value_by_key:node as related_nodes_info %}
                    {% for other_node in nodes %}
                        {% if other_node in related_nodes_info %}
                            {% with related_nodes_info|value_by_key:other_node as inner_relation %}
                                <td>{{ inner_relation.1 }}</td>
                            {% endwith %}
                        {% else %}
                            <td>
                            {% if other_node == node %}
                                0
                            {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
        </tr>
            {% endfor %}
    </tbody>
</table>

<a href="/" class="pull-left">Назад</a>

{% endblock %}