{% extends 'base.html' %}

{% block content %}

    <table class="table">

        <tbody>
            {% for node in nodes %}
                <tr>
                    <td>{{ node.name }}</td>
                    <td>
                        <a href="{% url 'edit-node' node.id %}">Редактировать</a>
                    </td>
                    <td>
                        <form method="post" action={% url 'delete-node' node.id %}>
                            <input type="submit" class="btn-link" value="Удалить">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}