{% extends 'base.html' %}

{% load weights_extras %}

{% block content %}

<table class="table">
    <tbody>
        <tr>
            <th> </th>
            {% for node in nodes %}
                <th> {{ node.name }} </th>
            {% endfor %}
        </tr>
        <tr>
            {% for node in nodes %}
            <th> {{ node.name }}</th>
                {% with direct_relations|value_by_key:node as direct_relations %}
                    {% for inner_node in nodes %}
                        {% if inner_node in direct_relations %}
                            {% with direct_relations|value_by_key:inner_node as inner_relation %}
                                <td>{{ inner_relation.value }}</td>
                            {% endwith %}
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
        </tr>
            {% endfor %}
    </tbody>
</table>




{% endblock %}